[Unit]
Description=RVPN Client (%i)
Documentation=https://github.com/Frank1o3/rust-vpn

Wants=network-online.target
After=network-online.target

[Service]
Type=simple

User=%i

ExecStart=/bin/sh -c 'export XDG_RUNTIME_DIR=/run/user/$$(id -u); exec /usr/local/bin/rvpn-client --daemon'

Restart=on-failure
RestartSec=3s

CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_RAW
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_RAW

NoNewPrivileges=true

ProtectSystem=strict
PrivateTmp=true

ReadWritePaths=-/etc/resolv.conf
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
ProtectClock=true
RestrictSUIDSGID=true
RestrictNamespaces=true
RestrictRealtime=true
LockPersonality=true
MemoryDenyWriteExecute=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_NETLINK AF_PACKET AF_UNIX

[Install]
WantedBy=multi-user.target